@model WebApp.Models.Servicio

@{
    ViewData["Title"] = "Servicio";
}


<div class="col-lg-10 col-md-12 col-12 col-sm-12">
    <div class="card">
        <div class="card-header">
            <h4 class="p-3 mb-2 bg-primary text-white text-center">Crear Plan de Estudio</h4>
        </div>
        <div class="card-content">
            <div class="card-body">
                <form enctype="multipart/form-data" asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col">
                                <label asp-for="Campus_Id" class="control-label"></label>
                                <select asp-for="Campus_Id" class="form-control" asp-items="ViewBag.Campus_Id">
                                    <option value="0" selected="">Seleccione una opción</option>
                                </select>
                            </div>
                            <div class="col">
                                <label asp-for="Facultad_Id" class="control-label"></label>
                                <select asp-for="Facultad_Id" id="idFacultad" class="form-control combined combined_1" asp-items="ViewBag.Facultad_Id">
                                    <option value="0" selected="">Seleccione una opción</option>
                                </select>
                                <span asp-validation-for="Facultad_Id" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col">
                                <label asp-for="Escuela_Id" class="control-label"></label>
                                <select asp-for="Escuela_Id" id="idEscuela" class="form-control combined combined_2" asp-items="ViewBag.Escuela_Id">
                                    <option value="0" selected="">Seleccione una opción</option>
                                </select>
                                <span asp-validation-for="Escuela_Id" class="text-danger"></span>
                            </div>
                            <div class="col">
                                <label asp-for="Carrera_Id" class="control-label"></label>
                                <select asp-for="Carrera_Id" id="idCarrera" class="form-control combined combined_3" asp-items="ViewBag.Carrera_Id">
                                    <option value="0" selected="">Seleccione una opción</option>
                                </select>
                                <span asp-validation-for="Carrera_Id" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col">
                                <label asp-for="TipoServicio_Id" class="control-label"></label>
                                <select asp-for="TipoServicio_Id" id="idTipoServicio" class="form-control combined combined_4" asp-items="ViewBag.TipoServicio_Id">
                                    <option value="0" selected="">Seleccione una opción</option>
                                </select>
                                <span asp-validation-for="TipoServicio_Id" class="text-danger"></span>
                            </div>
                            <div class="col">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col">
                                <label asp-for="Servicio_Codigo" class="control-label"></label>
                                <input asp-for="Servicio_Codigo" class="form-control" />
                            </div>
                            <div class="col">
                                <label asp-for="Servicio_Descripcion" class="control-label"></label>
                                <input asp-for="Servicio_Descripcion" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col">
                                <label asp-for="Servicio_FechaInicio" class="control-label"> Fecha de inicio</label>
                                <input asp-for="Servicio_FechaInicio" type="date" class="form-control" />
                                <span asp-validation-for="Servicio_FechaInicio" class="text-danger"></span>
                            </div>
                            <div class="col">
                                <label asp-for="Servicio_FechaCierre" class="control-label">Fecha de finalizacion</label>
                                <input asp-for="Servicio_FechaCierre" type="date" class="form-control" />
                                <span asp-validation-for="Servicio_FechaCierre" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class=" col-md-6">
                                <label asp-for="Servicio_Costo" class="control-label"></label>
                                <input asp-for="Servicio_Costo" class="form-control" />
                            </div>
                            <div class="col-md-6">
                                <label asp-for="UsuarioCodigo" class="control-label"></label>
                                <select asp-for="UsuarioCodigo" class="form-control" asp-items="ViewBag.UsuarioCodigo"></select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Guardar" class="btn btn-primary" />
                        <a asp-action="Index" class="btn btn-secondary">Regresar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@*@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>

        $(document).ready(function () {
            //import { ADDRCONFIG } from "dns";
            //Cuando cambie algún Facultad > Escuela > Carrera > Tipo Servicio > Servicio

            $(".combined").prop("disabled", true);
            $(".combined_1").prop("disabled", false);

            $(".combined").change(function () {
                var numeric = 0;

                //Si el valor es diferente de 0 o NA
                if ($(this).val() != 0 && $(this).val() != "NA") {

                    //Determina el orden correspondiente del select cambiado y almacenar
                    for (var i = 1; i <= 4; i++) {
                        if ($(this).hasClass("combined_" + i)) {
                            numeric = i;
                            break;
                        }
                    }

                    if (numeric != 0) {
                        //Inhabilita los siguientes
                        for (var i = numeric + 1; i <= 5; i++) {
                            $(".combined_" + i).val("0");
                            $(".combined_" + i).prop("disabled", true);
                        }

                        //Excepto el inmediatamente siguiente
                        $(".combined_" + (numeric + 1)).prop("disabled", false);
                    }

                }

                //Si es igual a 0
                else {

                    //Determina el orden correspondiente del select cambiado y almacenar
                    for (var i = 1; i <= 4; i++) {
                        if ($(this).hasClass("combined_" + i)) {
                            numeric = i;
                            break;
                        }
                    }

                    //Inhabilita todos los demás
                    for (var i = numeric + 1; i <= 5; i++) {
                        $(".combined_" + i).val("0");
                        $(".combined_" + i).prop("disabled", true);
                    }
                }

            });

            $("#idFacultad").change(function () {
                actualizarEscuelas();
            });

            $("#idEscuela").change(function () {
                actualizarCarreras();
            });

            $("#idCarrera, #idTipoServicio").change(function () {
                actualizarServicios();
            });



        });

        function actualizarCarreras() {
            var idEscuela = $('#idEscuela').val();
            $.get("/Carreras/GetFilteredCarreras/", { "idEscuela": idEscuela, addEmpty: true }, function (data, success) {
                var opciones = "";
                $("#idCarrera").empty();

                console.log(data);
                for (var i = 0; i < data.length; i++) {
                    opciones = `${opciones}<option value="${data[i].id}">${data[i].nombre}</option>`;
                }

                $("#idCarrera").append(opciones);
            });
        };

        function actualizarEscuelas() {
            var idFacultad = $("#idFacultad").val();

            $.get("/Escuelas/GetFilteredEscuelas/", { "idFacultad": idFacultad, addEmpty: true }, function (data, success) {
                var opciones = "";
                $("#idEscuela").empty();

                console.log(data);

                for (var i = 0; i < data.length; i++) {
                    opciones = `${opciones}<option value="${data[i].id}">${data[i].nombre}</option>`;
                }

                $("#idEscuela").append(opciones);
            });
        }

        function actualizarServicios() {
            var idCarrera = $("#idCarrera").val();
            var tipo = $("#idTipoServicio").val();

            console.log(`tipo: ${tipo}`);

            $.get("/Solicitudes/GetFilteredServicios/", { "idCarrera": idCarrera, "idTipoServicio": tipo, "addEmpty": true }, function (data, success) {
                var opciones = "";
                $("#idServicio").empty();

                for (var i = 0; i < data.length; i++) {
                    opciones = `${opciones}<option value="${data[i].servicio_Id}">${data[i].servicio_Descripcion}</option>`;
                }

                $("#idServicio").append(opciones);
            });
        };

    </script>
}