
@model WebApp.ViewModels.Solicitudes.CargaDocumentoSolicitudViewModel

@{
    ViewBag.Title = "Cargar documento a solicitud";
}

<div class="row">
    
    @if (Model.TipoDocumento == TipoArchivoSolicitud.Pago)
    {<h3>Cargar documento de pago del servicio</h3>}
    else {<h3>Cargar documento requerimiento</h3> }

    <div class="col-md-12">
        <form asp-action="CargarDocumento" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="IdSolicitud" />
            <input type="hidden" asp-for="TipoDocumento" />
            <div class="col-md-12">
                <div class="col-md-8">
                    <input asp-for="Archivo" class="form-control">
                </div>
                <div class="4">
                    <input type="submit" value="Enviar" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
