
@model WebApp.ViewModels.Solicitudes.CargaDocumentoSolicitudViewModel

@{
    ViewBag.Title = "Cargar documento a solicitud";
}

<div class="row">

    @switch (Model.TipoDocumento)
    {
        case TipoArchivo.Pago:
            <h3 class="col-12">Cargar recibo de pago del servicio</h3>
            break;
        case TipoArchivo.AnteProyecto:
            <h3 class="col-12">Cargar documento del anteproyecto</h3>
            break;
        case TipoArchivo.Proyecto:
            <h3 class="col-12">Cargar documento del proyecto</h3>
            break;
        default:
            <h3 class="col-12">Cargar documento</h3>
            break;
    }
    <div class="row">
        <form asp-action="CargarDocumento" method="post" enctype="multipart/form-data" class="container my-3 ml-4 p-2 border">
            <input type="hidden" asp-for="IdSolicitud" />
            <input type="hidden" asp-for="TipoDocumento" />
            <input asp-for="Archivo">
            <input type="submit" value="Enviar" class="btn btn-primary" />
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
