@model WebApp.ViewModels.Solicitudes.PagoSolicitudViewModel

<div class="row">
    <div class="col-md-12">
        <form asp-action="CargarPago">
            <input type="hidden" asp-for="IdSolicitud" />
            <div class="col-md-12">
                <div class="col-md-8">
                    <label> Cargar Pago </label>
                    <input asp-for="Archivo" class="form-control">
                </div>
                <div class="4">
                    <input type="submit" value="Enviar" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
