@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inscripcion</title>
</head>
<body align="center">
    <div class="text-center">
        <h1>Formulario Solicitud</h1>
        <h3>Datos Inscripcion</h3>
        <form action="Inscripcion/Inscripcion" method="post">
           <table align="center">
                <tr width="250" height="250">
                    <td width="500">
                        <label>Facultad:</label><br />
                        <select name="Facultad">
                            <option>xxxxxxxxx</option>
                            <option>xxxxxxxxx</option>
                            <option>xxxxxxxxx</option>
                        </select><br />
                    </td>
                    <td width="500">
                        <label>Escuela:</label><br />
                        <select name="Escuela">
                            <option>xxxxxxxxx</option>
                            <option>xxxxxxxxx</option>
                            <option>xxxxxxxxx</option>
                        </select><br />
                    </td>
                    <td width="500">
                        <label>Carrera:</label><br />
                        <select name="Carrera">
                            <option>xxxxxxxxx</option>
                            <option>xxxxxxxxx</option>
                            <option>xxxxxxxxx</option>
                        </select><br />
                    </td>
                </tr>
                <tr>
                    <td width="500">
                        <label>Tipo:</label><br />
                        <select name="Tipo">
                            <option>xxxxxxxxx</option>
                            <option>xxxxxxxxx</option>
                            <option>xxxxxxxxx</option>
                        </select><br />
                    </td>
                    <td width="500">
                        <label>Plan de Estudio:</label><br />
                        <select name="PlanEstudio">
                            <option>xxxxxxxxx</option>
                            <option>xxxxxxxxx</option>
                            <option>xxxxxxxxx</option>
                        </select>
                    </td>
                </tr>
            </table>
            <br />
            <br />
            <input type="submit" name="previous" value="Previous" />
            <input type="submit" name="next" value="Next" />
        </form>
    </div>
</body>
</html>
