@model WebApp.Models.Usuario

@{
    ViewData["Title"] = "Activar";
}

<h1>Activar usuario</h1>

<h3>Está seguro que quiere activar el usuario?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Correo
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            Nombre completo
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreCompleto)
        </dd>
        <dt class="col-sm-2">
            Rol
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rol.Descripcion)
        </dd>
    </dl>

    <form asp-action="Activate">
        <input type="hidden" asp-for="codigo" />
        <input type="submit" value="Activar" class="btn btn-primary" />
        <a asp-action="Index">Regresar a la lista de usuarios</a>
    </form>
</div>
