@model WebApp.ViewModels.Carrera.VM_CreateCarrera

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Carrera</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Carrera.CarreraId" />
            <div class="form-group">
                <label asp-for="Carrera.CarreraCodigo" class="control-label"></label>
                <input asp-for="Carrera.CarreraCodigo" class="form-control" />
                <span asp-validation-for="Carrera.CarreraCodigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Carrera.EscuelaId" class="control-label"></label>
                <select asp-for="Carrera.EscuelaId" asp-items="@(new SelectList(Model.Escuelas,"EscuelaId","EscuelaNombre",Model.Carrera.EscuelaId))"></select>
                <span asp-validation-for="Carrera.EscuelaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Carrera.CarreraNombre" class="control-label"></label>
                <input asp-for="Carrera.CarreraNombre" class="form-control" />
                <span asp-validation-for="Carrera.CarreraNombre" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Carrera.EstadoId" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
}
