@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Contraseña temporal enviada";
    Layout = null;
}

<header>
    <div>
        <img src="~/images/banner.jpg" class="img-fluid" style="width: 100%" alt="Responsive image">
    </div>
</header>

<p>
    Si el correo indicado está registrado, te enviaremos un correo con una contraseña temporal.
    Una vez ingreses, te recomendamos que la cambies por una nueva.
</p>

<p>
    Cuando la recibas, puedes volver a intentar acceder en:
    <a href="https://culminare.azurewebsites.net/">https://culminare.azurewebsites.net/</a>
</p>

